{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Excluir Tarefa {% endblock %}

{% block content %}
<div class="offset-1 col-10 list-div">
    <h1>Você realmente deseja excluir a tarefa: {{ task.title }}?</h1>
    <p>Essa decisão não pode ser desfeita!</p>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-danger" value="Excluir mesmo assim.">
        <a href="{% url 'task-list' %}">Cancelar</a>
    </form>   
</div>
{% endblock %}